<div class="row content">
  <div class="col-sm-2 sidenav">
    <% include ../auth/partials/usernav %>
  </div>


  <div class="col-sm-8 text-left">

<% if (articles.length === 0) { %>

  <h1>No posts with "<%= searchQuery.words %>". Search again?</h1>

<% } else { %>

  <h1>Search results for "<%= searchQuery.words %>": </h1>

  <% for (var i = 0; i < articles.length ; i++) { %>
     <hr>
     <h2><a href="/post/<%=articles[i]._id%>"><%= articles[i].title %></a></h2>
     <h5><a href="/user/<%=articles[i].user._id%>"> By <%= articles[i].user.name.firstname %> <%= articles[i].user.name.lastname %></a></h5>
     <h5><span class="glyphicon glyphicon-time"></span> Posted on <%= articles[i].created_at %></h5>
   <% let createdTime = new Date(articles[i].created_at) %>
   <% let updatedTime = new Date(articles[i].updated_at) %>

    <% if (createdTime.toUTCString() === updatedTime.toUTCString()) { %>
      <%  } else { %>
      <h5 style="font-style:italic"><span class="glyphicon glyphicon-time"></span> Updated on <%= articles[i].updated_at %></h5>
      <% } %>
     <h5><span class="label label-primary"><%= articles[i].tags %></span></h5><br>
     <p><%= articles[i].article %></p>
     <hr>

   <% } %>

<% } %>
</div>

<div class="col-sm-2 sidenav">

    What's trending...
    <div class="well">
      <a href="http://www.bbc.com/news/world-us-canada-38764079"><small>Trump seeks Mexican import tax to pay for border wall</small></a>
    </div>
    <div class="well">
      <a href="http://www.bbc.com/news/world-38760792"><small>Apocalypse is 30 seconds closer, say Doomsday Clock scientists</small></a>
    </div>
    <div class="well">
      <a href="https://www.theguardian.com/science/2017/jan/26/first-human-pig-chimera-created-in-milestone-study"><small>First human-pig 'chimera' created in milestone study</small></a>
    </div>

  </div>

  </div>
